
.container {
    color: #CDCDCD;
    font-family: Elephant;
    text-align: center;
    background-color: #3E3D3D;
    position: fixed;
    min-width: 45%;
    min-height: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow-y: auto;
}

.toDoList {
    margin-bottom: 20px;
    max-height: 670px;
    min-height: 670px;
}

table {
    font-size: 20px;
    margin-top: 10px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
    border: 1px;
}

.addingElement td {
    text-align: left;
    vertical-align: top;
}

select, input, button {
    padding: .4em;
    background-color: ghostwhite;
    font-family: Tahoma;
}

select {
    height: 31px;
}

select:hover {
    border-color: #73ABFE;
}

th, td {
    padding-left: 30px;
    padding-right: 30px;
}

button:hover {
    background-color: #CACACA;
}

form {
    max-height: 500px;
    overflow-y: auto;
}

.taskDiv {
    display: flex;
}

.taskDiv input {
    flex: 1;
}

.taskDiv label {
    flex: 6;
}

.taskDiv:hover {
    background-color: #801313;
}


.bottomButtons {
    margin-bottom: 20px;
    margin-left: 70%;
}

#clearTasks {
    margin-right: 3%;
}