
.container {
    color: #CDCDCD;
    font-family: Elephant, serif;
    text-align: center;
    background-color: #3E3D3D;
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    overflow-y: auto;
}

.toDoList {
    max-height: 670px;
    min-height: 670px;
    display: flex;
    flex-flow: column;
    flex-flow: column;
}

.taskLists {
    display: flex;
    justify-content: space-around;
}

.listColumn {
    flex: 2;
    flex-wrap: wrap;
}

table {
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
}

table.center {
    margin-left:auto;
    margin-right:auto;
    border: 1px;
}

.addingElement td {
    vertical-align: top;
}

.header input{
    width: 40%;
}

.header button{
    width: 13%;
}

select, input, button {
    padding: .4em;
    background-color: ghostwhite;
    font-family: Tahoma, serif;
}

select {
    height: 31px;
}

select:hover {
    border-color: #73ABFE;
}

th {
    min-width: 200px;
    max-width: 200px;
}

th, td {
    padding-left: 30px;
    padding-right: 30px;
}

button:hover {
    background-color: #CACACA;
}

form {
    max-height: 500px;
    overflow-y: auto;
}

.taskDiv {
    display: flex;
    text-align: left;
    align-items: center;
    border-radius: 5px;
}

.taskDiv input {
    flex: 1;
    padding: 5px;
}

.taskDiv label {
    flex: 4;
}

.taskDiv span {
    flex: 0 1 auto;
    padding: 10px;
    border-radius: 5px;
}

.taskDiv:hover {
    background-color: #565656;
    cursor: pointer;
}


/*.bottomButtons {*/
    /*margin-bottom: 20px;*/
    /*margin-left: 70%;*/
/*}*/

/*#clearTasks {*/
    /*margin-right: 3%;*/
/*}*/

.closable:hover {
    background-color: #801313;
    cursor: pointer;
    text-align: center;
}

/*@media screen and (max-height: 700px) or (max-width: 800px) {*/
    /*.container {*/
        /*height: 400px;*/
        /*min-width: 600px;*/
        /*max-width: 600px;*/
    /*}*/
    /*.toDoList {*/
        /*max-height: 380px;*/
        /*min-height: 380px;*/
    /*}*/

    /*.bottomButtons {*/
        /*margin-bottom: 10px;*/
    /*}*/

    /*form {*/
        /*max-height: 200px;*/
        /*min-height: 200px;*/
    /*}*/
/*}*/

/*@media screen and (max-height: 900px) {*/
    /*.toDoList {*/
        /*max-height: 550px;*/
        /*min-height: 550px;*/
    /*}*/

    /*.bottomButtons {*/
        /*margin-bottom: 20px;*/
    /*}*/

    /*form {*/
        /*max-height: 360px;*/
        /*min-height: 360px;*/
    /*}*/
/*}*/